#body {
  background-color: black;
}

.top {
  font-family: "Press Start 2P";
  font-size: 16px;
  color: gold;
  text-align: right;
  margin: 20px;
}

#table {
  border-style: groove;
  border-color: brown;
  border-width: 20px;
  background-color: darkgreen;
  height: 400px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px;
  font-family: "Press Start 2P";
  display: grid;
}

#text,
#result {
  outline: none;
  font-size: 70px;
  animation: colorChange 1s infinite;
  text-align: center;
  margin: auto;
}

#spin-circle {
  border-radius: 50%;
  background-color: rgb(210, 210, 0);
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
  border: 170px solid #ccc;
  border-top-color: #000;
  border-right-color: red;
  border-bottom-color: black;
  border-left-color: red;
  animation: none;
  /* animation-fill-mode: both; */
}
@keyframes spin_red {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

@keyframes spin_black {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(630deg);
  }
}

#bet-inputs {
  margin: auto;
  width: 700px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

input[type="number"] {
  font-family: "Press Start 2P";
  font-size: 12px;
  padding: 10px;
  width: 400px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

#spin {
  margin: auto;
  width: 700px;
  text-align: center;
}

#spin-button {
  background-color: yellow;
  font-family: "Press Start 2P";
  font-size: medium;
  size: 300px;
  display: block;
  margin: auto;
  height: 100px;
  width: 300px;
  border-style: outset;
  border-color: lightgray;
  border-width: 6px;
}

#spin-button:active {
  border-style: outset;
  border-color: gray;
  border-width: 6px;
}

#color-buttons {
  margin: auto;
  width: 700px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#red-button {
  background-color: red;
  font-family: "Press Start 2P";
  font-size: medium;
  color: black;
  size: 300px;

  height: 70px;
  width: 200px;
  border-style: outset;
  border-color: lightgray;
  border-width: 6px;
}

#red-button:active {
  border-style: outset;
  border-color: gray;
  border-width: 6px;
}

#black-button {
  background-color: black;
  font-family: "Press Start 2P";
  font-size: medium;
  color: red;
  size: 300px;

  height: 70px;
  width: 200px;
  border-style: outset;
  border-color: lightgray;
  border-width: 6px;
}

#black-button:active {
  border-style: outset;
  border-color: gray;
  border-width: 6px;
}

@keyframes colorChange {
  0%,
  50% {
    color: red;
    text-shadow: 1px 1px black;
  }
  51%,
  100% {
    color: black;
    text-shadow: 1px 1px red;
  }
}

@keyframes winColorChange {
  0%,
  50% {
    color: rgb(75, 199, 75);
    text-shadow: 1px 1px black;
  }
  51%,
  100% {
    color: black;
    text-shadow: 1px 1px rgb(75, 199, 75);
  }
}

#sides > div {
  background-color: darkgreen;
  padding: 10px;
  /* font-size: 0px; */
  text-align: center;
}
#pin {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 50px solid rgb(77, 47, 0);
  margin: 2rem;
  transform: rotate(90deg);
  top: 256px;
  right: 460px;
  position: absolute;
}
